@charset "utf-8";

header {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 650px;
  top: -40px;
  text-align: center;
  padding: 40px 20px;
  font-size: 50px;
  letter-spacing: 2px;
  color: white;
}

header {
  position: absolute;
}

.aboutme-box {
  display: flex;
  position: absolute;
  border: 3px solid #333;
  top: 300px;
  right: 450px;
  padding: 60px;
  margin: 40px 0 40px 40px;
  max-width: 800px;
  background-color: black;
  box-shadow: 0 4px 8px white;
  border-radius: 60px;
}

.aboutme-column h2 {
  font-size: 50px;
  margin: 0;
  color: white;
  justify-content: center;
  display: flex;
}

.aboutme-column p {
  font-size: 1.2rem;
  color: #ccc;
  line-height: 1.6;
}

.aboutme-header {
  position: absolute;
  width: 100vw;
  right: -50px;
  height: 400px;
  background-image: url('../images/aboutme_background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  letter-spacing: 2px;
  text-shadow: 2px 2px 5px black;
}

@media (max-width: 768px) {

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .aboutme-header {
    position: relative;
    width: 100%;
    height: 180px;
    right: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    letter-spacing: 1px;
    padding: 10px;
    box-sizing: border-box;
  }

  .aboutme-box {
    position: relative;
    top: 0;
    right: 0;
    margin: -10px auto;
    padding: 25px;
    max-width: 70%;
    height: auto;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 2px 6px white;
    border-radius: 12px;
  }

  .aboutme-column h2 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 10px;
  }

  .aboutme-column p {
    font-size: 1rem;
    text-align: center;
    color: #ccc;
  }
}