.nav-box {
    position: absolute;
    top: 100px;
    right: 20px;
    width: 700px;
    border: 3px solid white;
    cursor: pointer;
    margin-bottom: 20px;
    padding: 0px;
    border-radius: 12px;
    transition: transform 0.5s ease;
    z-index: 10;
}

.nav-box img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
    border-radius: 12px;
}

.nav-box:hover{
    transform: scale(1.05);
    box-shadow: 20px 20px 40px rgba(0,0,0,0.3);
}