@charset "utf-8";

header {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 650px;
  margin-top: 40px;
  text-align: center;
  font-size: 40px;
  color: white;
}

form {
    position: relative;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #1A2A3A;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form label {
    display: block;
    margin-bottom: 0;
    color: white;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.inline-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    form {
        margin: 100px 10px;
        padding: 15px;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        font-size: 14px;
    }

    form button {
        font-size: 14px;
    }

    form button {
        padding: 12px;
    }

    form input[type="text"],
    form input[type="email"],
    form textarea {
        padding: 12px;
    }

}