@charset "utf-8";

@import url(../css/animation.css);

header {
    font-size: 85px;
    letter-spacing: 2px;
    margin-left: 100px;
    color: white;
}

.intro-box {
    display: flex;
    position: relative;
    border: 3px solid #333;
    top: -50px;
    right: 20px;
    padding: 60px;
    margin: 40px 0 40px 40px;
    max-width: 1000px;
    background-color: black;
    box-shadow: 0 4px 8px white;
    border-radius: 12px;
}

.intro-column h2 {
    font-size: 2.5rem;
    margin: 0;
    color: white;
}

.intro-column p {
    font-size: 1.2rem;
    color: gray;
    line-height: 1.6;
}

.img-box {
    position: absolute;
    top: 350px;
    right: 100px;
    width: 500px;
    padding: 20px;
    border-radius: 60px;
    background-color: black;
    box-shadow: 0 4px 8px white;
    box-sizing: border-box;
}

.image-column img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.image-column figcaption {
    color: white;
    text-align: center;
    margin-top: 10px;
}


@media (max-width: 768px) {
    header {
        text-align: center;
        margin-top: 50px;
        margin-left: 10px;
    }

    .nav-box {
        position: relative;
        top: 0;
        right: 0;
        width: 90%;
        margin: 20px auto;
    }

    .intro-box {
        flex-direction: column;
        align-items: center;
        width: 80%;
        padding: 20px;
        margin: 20px auto;
        top: 0;
        right: 0;
        box-shadow: 0 2px 6px white;
    }

    .intro-column h2 {
        font-size: 1.8rem;
        text-align: center;
    }

    .intro-column p {
        font-size: 1rem;
        text-align: center;
    }

    .img-box {
        position: relative;
        top: 0;
        right: 0;
        width: 90%;
        margin: 20px auto;
        padding: 10px;
        box-shadow: 0 2px 6px white;
    }
}

@media (max-width: 480px) {
    header {
        font-size: 32px;
    }

    .intro-column h2 {
        font-size: 1.5rem;
    }

    .intro-column p {
        font-size: 0.9rem;
    }
}